p {background-color: pink;


    }
h1 {background-color: green;}
ol{ border: 10px solid green ;
  background-color: yellow}
li{color: white;
  background-color: red}
body{background-color: ORANGE}
table{border: 10PX DOUBLE BLACK}
TD{border: 2px SOLID BLACK; color: BLACK}
TH{border: 2PX SOLID BLACK}
